---
import Section from "../Section.astro"

import { work } from "@cv"
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, skills, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"

          return (
            <li class="mt-6 mb-12">
              <article>
                <header class="flex justify-between align-start mb-2">
                  <div>
                    <h3 class="text-xl font-semibold mb-1">
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        <span class="bg-black text-white pl-2">{name.slice(0, (name.length/2))}</span>{name.slice((name.length/2), name.length)}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <div>
                    <time 
                      datetime={startDate}
                      data-title={startDate}>
                        {startYear}
                    </time>
                    {" - "}
                    <time 
                      datetime={endDate}
                      data-title={endDate}>
                        {endYear}
                    </time>
                  </div>
                </header>

                <footer class="text-sm text-gray-600">
                  <p>{summary}</p>
                  <ul class="list-disc mt-4 pl-4">
                    {highlights.map((highlight) => (
                      <li class="mb-2">
                        {highlight}
                      </li>
                    ))}
                  </ul>
                  <p class="mt-4">
                    <strong class="text-gray-950">
                      Destrezas
                    </strong>
                  </p>
                  <p class="text-xs">
                    {skills.join(", ")}
                  </p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }
  
  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
